<div ng-controller="InteractivoCtrl">

	<div class="row">
	  <div class="col-sm-12">

		<form class="form-inline">
			<fieldset>

			<!-- Form Name -->
			<legend></legend>

				<div class="row">

					<div class="col-sm-2">
						Completá los datos de tu salario mensual aproximado >>
					</div>

					<div class="col-sm-2">
						<div class="form-group">
							<label for="textinput1">2011</label>
							<div class="input-group">
							  	<span class="input-group-addon" id="basic-addon1">$</span>
								<input id="textinput1" name="textinput1" placeholder="" class="form-control input-md" type="text" step="1000" numbers-only="numbers-only" required="required" ng-change="valueChanged()" min="0" maxlength="5" ng-model="myData.ano_2011">
							</div>
					  	</div>
					</div>

					<div class="col-sm-2">
						<div class="form-group">
							<label for="textinput2">2012</label>
							<div class="input-group">
							  	<span class="input-group-addon" id="basic-addon1">$</span>
								<input id="textinput2" name="textinput2" placeholder="" class="form-control input-md" type="text" step="1000" ng-change="valueChanged()" min="0" maxlength="5" ng-model="myData.ano_2012">
							</div>
					  	</div>
					</div>

					<div class="col-sm-2">
						<div class="form-group">
							<label for="textinput3">2013</label>
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">$</span>
								<input id="textinput3" name="textinput3" placeholder="" class="form-control input-md" type="text" step="1000" ng-change="valueChanged()" min="0" maxlength="5" ng-model="myData.ano_2013">
					  		</div>
					  	</div>
					</div>

					<div class="col-sm-2">
						<div class="form-group">
							<label for="textinput4">2014</label>
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">$</span>
								<input id="textinput4" name="textinput4" placeholder="" class="form-control input-md" type="text" step="1000" ng-change="valueChanged()" min="0" maxlength="5" ng-model="myData.ano_2014">
					  		</div>
					  	</div>
					</div>

					<div class="col-sm-2">
						<div class="form-group">
							<label for="textinput5">2015</label>
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">$</span>
								<input id="textinput5" name="textinput5" placeholder="" class="form-control input-md" type="text" step="1000" ng-change="valueChanged()" min="0" maxlength="5" ng-model="myData.ano_2015">
					  		</div>
					  	</div>
					</div>

				</div>

			</fieldset>
		</form>


	  </div>
	</div>

	<hr/>

	<div class="row">
	  <div class="col-sm-12">

	  	<div>

		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<a href="#chart" aria-controls="chart" role="tab" data-toggle="tab" class="btn btn-default">Gráfico</a>
			</div>
			<div class="btn-group" role="group">
				<a href="#table" aria-controls="table" role="tab" data-toggle="tab" class="btn btn-default">Tabla</a>
			</div>
		</div>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    
		    <div role="tabpanel" class="tab-pane active" id="chart">
		    	
		    	<div id="chart-container"></div>
		    
		    </div>
		    
		    <div role="tabpanel" class="tab-pane" id="table">
		    
		    	<table class="table table-striped" ng-table="tableParams" class="table">
			        <tr ng-repeat="d in $data" ng-class="{'user-data':d.userData}">
			            <td data-title="'Título'" data-sortable="'titulo'">
			                <span class="{{d.icon}}"></span>     {{d.titulo}}
			            </td>
			            <td class="text-right" data-title="'2011'" data-sortable="'ano_2011'">
			                <span ng-show="d.ano_2011">${{d.ano_2011}}</span>
			            </td>
			            <td class="text-right" data-title="'2012'" data-sortable="'ano_2012'">
			                <span ng-show="d.ano_2012">${{d.ano_2012}}</span>
			            </td>
			            <td class="text-right" data-title="'2013'" data-sortable="'ano_2013'">
			                <span ng-show="d.ano_2013">${{d.ano_2013}}</span>
			            </td>
			            <td class="text-right" data-title="'2014'" data-sortable="'ano_2014'">
			                <span ng-show="d.ano_2014">${{d.ano_2014}}</span>
			            </td>
			            <td class="text-right" data-title="'2015'" data-sortable="'ano_2015'">
			                <span ng-show="d.ano_2015">${{d.ano_2015}}</span>
			            </td>
			        </tr>
			    </table>

		    </div>
		    

		  </div>

		</div>

	    <div class="well well-lg">
	    	<div ng-show="variation">
	    		<h1 class="text-center">{{conclusion()}}</h1>
	    		<p class="text-center">
	    			<a class="btn btn-default btn-lg" ng-href="https://twitter.com/intent/tweet?text={{conclusionShare()}}" target="_blank">Twitter</a>
	    			<a class="btn btn-default btn-lg" ng-href="https://www.facebook.com/sharer/sharer.php?u=http://unidiversidad.com.ar" target="_blank">Facebook</a>
	    		</p>
	    	</div>
	    	<div ng-hide="variation">
		    	<p><strong>COMPARTIR:</strong> Completá los datos de su sueldo para poder compartir la conclusión.</p>
	    	</div>
	    </div>


	  </div>
	</div>


</div>

