<div ng-controller="InteractivoCtrl">

	<div class="row">
	  <div class="col-sm-12">

		<form class="form-inline">
			<fieldset>

			<!-- Form Name -->
			<legend></legend>

				<div class="row">

					<div class="col-sm-12">
						Completá los datos de tu salario mensual aproximado en los siguientes años:
					</div>

					<div ng-repeat="a in labels">
						<div class="col-sm-3">
							<hr>
							<div class="form-group">
								<div class="btn-group"> 
									<button type="button" class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Año {{a}}
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu">
										<li><a ng-click="setFocus(a)">¡Lo recuerdo!</a></li>
										<li role="separator" class="divider"></li>
										<li><a ng-click="setSalario(a,'minimo')">Salario mínimo</a></li>
										<li><a ng-click="setSalario(a,'promedio')">Salario promedio</a></li>
										<li><a ng-click="setSalario(a,'maximo')">Salario máximo</a></li>
									</ul>
								</div>
								<div class="input-group">
								  	<span class="input-group-addon" id="basic-addon-{{a}}">$</span>
									<input id="textinput-{{a}}" name="textinput-{{a}}" placeholder="" class="form-control input-md" type="text" step="1000" numbers-only="numbers-only" required="required" ng-change="valueChanged()" min="0" maxlength="5" ng-model="myData['ano_'+a]">
								</div>
						  	</div>
						</div>
					</div>


				</div>

			</fieldset>
		</form>


	  </div>
	</div>

	<hr/>

	<div class="row">
	  <div class="col-sm-12">

	  	<div>

		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<a href="#chart" aria-controls="chart" role="tab" ng-click="changeTab($event)" data-toggle="tab" class="btn btn-default btn-tab active">Gráfico</a>
			</div>
			<div class="btn-group" role="group">
				<a href="#table" aria-controls="table" role="tab" ng-click="changeTab($event)" data-toggle="tab" class="btn btn-default btn-tab">Tabla</a>
			</div>
		</div>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    
		    <div role="tabpanel" class="tab-pane active" id="chart">
		    	
		    	<div id="chart-container"></div>
		    
		    </div>
		    
		    <div role="tabpanel" class="tab-pane" id="table">
		    
		    	<table class="table table-striped" ng-table="tableParams" class="table">
			        <tr ng-repeat="d in $data" ng-class="{'user-data':d.userData}">
			            <td data-title="'Título'" data-sortable="'titulo'">
			                <span class="{{d.icon}}"></span>     {{d.titulo}}
			            </td>
			            <td class="text-right" data-title="'2006'" data-sortable="'ano_2006'">
			                <span ng-show="d.ano_2006">${{d.ano_2006}}</span>
			            </td>
			            <td class="text-right" data-title="'2007'" data-sortable="'ano_2007'">
			                <span ng-show="d.ano_2007">${{d.ano_2007}}</span>
			            </td>
			            <td class="text-right" data-title="'2008'" data-sortable="'ano_2008'">
			                <span ng-show="d.ano_2008">${{d.ano_2008}}</span>
			            </td>
			            <td class="text-right" data-title="'2009'" data-sortable="'ano_2009'">
			                <span ng-show="d.ano_2009">${{d.ano_2009}}</span>
			            </td>
			            <td class="text-right" data-title="'2010'" data-sortable="'ano_2010'">
			                <span ng-show="d.ano_2010">${{d.ano_2010}}</span>
			            </td>
			            <td class="text-right" data-title="'2011'" data-sortable="'ano_2011'">
			                <span ng-show="d.ano_2011">${{d.ano_2011}}</span>
			            </td>
			            <td class="text-right" data-title="'2012'" data-sortable="'ano_2012'">
			                <span ng-show="d.ano_2012">${{d.ano_2012}}</span>
			            </td>
			            <td class="text-right" data-title="'2013'" data-sortable="'ano_2013'">
			                <span ng-show="d.ano_2013">${{d.ano_2013}}</span>
			            </td>
			            <td class="text-right" data-title="'2014'" data-sortable="'ano_2014'">
			                <span ng-show="d.ano_2014">${{d.ano_2014}}</span>
			            </td>
			            <td class="text-right" data-title="'2015'" data-sortable="'ano_2015'">
			                <span ng-show="d.ano_2015">${{d.ano_2015}}</span>
			            </td>
			        </tr>
			    </table>

		    </div>
		    

		  </div>

		</div>

	    <div class="well well-lg">
	    	<div ng-show="variation">
	    		<h1 class="text-center">{{mensaje}}</h1>
	    		<h2 class="text-center">{{conclusion()}}</h2>
	    		<p class="text-center">
	    			<a class="btn btn-default btn-lg" ng-href="https://twitter.com/intent/tweet?text={{conclusionShare()}}" target="_blank">Twitter</a>
	    			<a class="btn btn-default btn-lg" ng-href="https://www.facebook.com/sharer/sharer.php?u=http://chequeado.com" target="_blank">Facebook</a>
	    		</p>
	    	</div>
	    	<div ng-hide="variation">

	    	</div>
	    </div>


	  </div>
	</div>


</div>

