
<div class="row">
  <div class="col-sm-12">
    <h1>El sueldo del Gobernador y el de los legisladores aumentó 500% en 5 años</h1>
    <p class="lead">Es lo que surge del Salariómetro, una herramienta interactiva que permite comparar la evolución de los salarios en Mendoza en los últimos 5 años.</p>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">

    <table class="table table-striped" ng-table="tableParams" class="table">
        <tr ng-repeat="d in $data">
            <td data-title="'Profesion'" sortable="'profesion'">
                {{d.profesion}}
            </td>
            <td class="text-right" data-title="'2011'" sortable="'ano_2011'">
                {{d.ano_2011}}
            </td>
            <td class="text-right" data-title="'2012'" sortable="'ano_2012'">
                {{d.ano_2012}}
            </td>
            <td class="text-right" data-title="'2013'" sortable="'ano_2013'">
                {{d.ano_2013}}
            </td>
            <td class="text-right" data-title="'2014'" sortable="'ano_2014'">
                {{d.ano_2014}}
            </td>
            <td class="text-right" data-title="'2015'" sortable="'ano_2015'">
                {{d.ano_2015}}
            </td>
        </tr>
    </table>

  </div>
</div>
